@model IEnumerable<ConsumApiWithHttpClient.Models.Employee>

@{
    ViewBag.Title = "Index";
}


<div class="form-horizontal">

    <hr />
    <div class="form-group">


      
    </div>
</div> 
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script>


    // Create the XHR object.
  
    function createCORSRequest(method, url) {
        var xhr = new XMLHttpRequest();
        if ("withCredentials" in xhr) {
            // XHR for Chrome/Firefox/Opera/Safari.
            xhr.open(method, url, true);
        } else if (typeof XDomainRequest != "undefined") {
            // XDomainRequest for IE.
            xhr = new XDomainRequest();
            xhr.open(method, url);
        } else {
            // CORS not supported.
            xhr = null;
        }
        return xhr;
    }

    // Helper method to parse the title tag from the response.
    function getTitle(text) {
        return text.match('<title>(.*)?</title>')[1];
    }

    // Make the actual CORS request.
    function makeCorsRequest() {
        // This is a sample server that supports CORS.
        var url = "http://192.168.4.34/api/values";

        var xhr = createCORSRequest('GET', url);
        if (!xhr) {
            alert('CORS not supported');
            return;
        }

        // Response handlers.
        xhr.onload = function () {
            var text = xhr.responseText;
            var title = getTitle(text);
            alert('Response from CORS request to ' + url + ': ' + title);
        };

        xhr.onerror = function () {
            alert('Woops, there was an error making the request.');
        };

        xhr.send();
    }
    $(document).ready(function () {

        $.ajax({

            type: 'GET',

            url: 'http://localhost:2204/api/values',

          dataType:'jsonp',

            xhrFields: {
                
                withCredentials: false
            },

            success: function (data) {
                // Here's where you handle a successful response.
                var r = JSON.stringify(data);
                 
                alert(r);
            },

            error: function () {
              

                alert("eeeeee");
            }
        });

       // makeCorsRequest();
        //$.ajax({
        //    url: "http://192.168.4.34/api/values", success: function (result) {
        //        alert(result);
        //    }
        //});
    });
</script>